*{
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}



.cart-items-container {
    display: inline-block;
    width: 64%;
    padding: 1px solid #eaeaec;
    padding-top: 32px;
    color: #282c3f;
    font-size: 13px;
    line-height: 1.42857143;
    background: #fff;
}


.cart-page {
  width: 75%;
  margin-left: 12.5%;
}

.cart-summary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.cart-details-container {
  margin-bottom: 16px;
}


.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}


.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}


.price-item-value {
  float: right;
}


.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}


.btn-place-order {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(13, 161, 117);
  color: rgb(241, 241, 241);
  cursor: pointer;
}

.btn-place-order:hover {
  background:#1bc25b;
}


.cart-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}


.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}


.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.cart-item-img {
  width: 100%;
}


.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}


.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}


.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-bottom: 8px;
  line-height: 15px;
}


.delivery-details-days {
  color: #03a685;
}


.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.footer-container {
  margin-top: 60px;
}




/* =========================
   CART PAGE MEDIA QUERIES
========================= */

/* Small mobile devices (up to 480px) */
@media (max-width: 480px) {
  .cart-page {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }

  .cart-items-container,
  .cart-summary {
    display: block;
    width: 100%;
    padding: 0;
  }

  .cart-item-container {
    padding: 8px;
  }

  .item-left-part {
    width: 90px;
    height: 120px;
  }

  .item-right-part {
    margin-left: 95px;
  }

  .btn-place-order {
    font-size: 14px;
    padding: 8px 12px;
  }
  .footer-container {
    margin-top: 280px;
  }
}

/* Mobile / Small tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .cart-page {
    width: 95%;
    margin: 0 auto;
  }

  .cart-items-container,
  .cart-summary {
    display: block;
    width: 100%;
    padding: 0;
  }

  .cart-item-container {
    padding: 10px;
  }

  .item-left-part {
    width: 100px;
    height: 130px;
  }

  .item-right-part {
    margin-left: 105px;
  }

  .btn-place-order {
    font-size: 14px;
    padding: 10px 14px;
  }
  .footer-container {
    margin-top: 280px;
  }
}

/* Tablets (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .cart-page {
    width: 90%;
    margin: 0 auto;
  }

  .cart-items-container {
    width: 65%;
    padding-right: 10px;
  }

  .cart-summary {
    width: 33%;
    padding-left: 10px;
  }

  .item-left-part {
    width: 110px;
    height: 140px;
  }

  .item-right-part {
    margin-left: 115px;
  }
}


